[submodule "SeforimLibrary"]
	path = SeforimLibrary
	url = https://github.com/arieldaniely/SeforimLibrary.git

[submodule "SeforimAcronymizer"]
	path = SeforimAcronymizer
	url = https://github.com/kdroidFilter/SeforimAcronymizer.git
